/* Light */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

/* Reguler */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

/* Medium */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

/* SemiBold */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

/* Bold */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

/* ExtraBold */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
}

/* Color */
:root {
  --bs-black: #232631;
  --bs-gray-one: #858585;
  --bs-gray-two: #656565;
  --bs-button-secondary: #5a4fcf;
  --bs-warning-one: #ffb800;
  --bs-warning-two: #fdc886;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

/* Custom Color */
.color-primary {
  color: var(--bs-black);
}

.color-secondary {
  color: var(--bs-gray-two);
}

/* Custom Gap */
.custom-gap-3 {
  gap: 12px;
}

/* Custom Font */
.custom-text-base {
  font-size: 16px;
}

.custom-text-lg {
  font-size: 18px;
}

.custom-text-xl {
  font-size: 22px;
}

.custom-text-3xl {
  font-size: 28px;
}

/* Navbar */
.navbar-brand img {
  height: 34px;
  width: 34px;
}

.navbar-brand span {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}

.navbar .nav-item a.nav-link {
  font-weight: 500;
  color: var(--bs-black);
  margin-right: 30px;
  padding: 0;
  position: relative;
}

.navbar .nav-item a.nav-link:not(.dropdown-toggle):after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -5px;
  border: 2px solid var(--bs-button-secondary);
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.navbar .nav-item a.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dropdown-item {
  font-weight: 400;
  color: var(--bs-black);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--bs-button-secondary);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.navbar input.search {
  border: none;
  padding: 16px;
  text-align: center;
  width: 322px;
}

.navbar input.search::placeholder {
  font-weight: 500;
  color: var(--bs-gray-one);
}

.navbar i.icon-search {
  font-size: 20px;
  color: var(--bs-gray-one);
  left: 5%;
}

.btn-login {
  border: none;
  color: var(--bs-button-secondary);
  background-color: rgba(90, 79, 207, 0.1);
  padding: 16px 28px;
  border-radius: 12px;
  margin-left: 20px;
}

.btn-login:hover {
  background-color: var(--bs-button-secondary);
  color: white;
  transition: all 0.3s ease-in-out;
}

/* Ads */
.ads {
  margin-top: 60px;
}

.custom-margin-left {
  margin-left: 140px;
}

.swiper {
  width: 100%;
  height: 564px;
  border-radius: 24px 0 0 24px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
  object-position: center;
}

.swiper-slide {
  width: 85%;
}

.custom-card {
  z-index: 2;
  transform: translateY(-50%);
  width: 390px;
  border-radius: 24px;
}

.custom-card .card-body {
  padding: 24px;
}

.icon-star p {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--bs-warning-one);
}

.icon-star span {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--bs-gray-two);
}

.icon-star ul {
  gap: 5px;
}

.custom-card-button {
  margin: 34px 0 12px 0;
  color: var(--bs-black);
  background-color: var(--bs-warning-two);
  padding: 16px 28px;
  border-radius: 12px;
  border: none;
}

.custom-card-button:hover {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
