/* Light */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

/* Reguler */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

/* Medium */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

/* SemiBold */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

/* Bold */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

/* ExtraBold */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
}

/* Color */
:root {
  --bs-black: #232631;
  --bs-gray-one: #858585;
  --bs-button-secondary: #5a4fcf;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

/* Custom Gap */
.custom-gap-3 {
  gap: 12px;
}

/* Custom Font */
.custom-text-3xl {
  font-size: 28px;
}

.navbar-brand img {
  height: 34px;
  width: 34px;
}

.navbar-brand span {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}

.navbar .nav-item a.nav-link {
  font-weight: 500;
  color: var(--bs-black);
  margin-right: 30px;
  padding: 0;
  position: relative;
}

.navbar .nav-item a.nav-link:not(.dropdown-toggle):after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -5px;
  border: 2px solid var(--bs-button-secondary);
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.navbar .nav-item a.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dropdown-item {
  font-weight: 400;
  color: var(--bs-black);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--bs-button-secondary);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.navbar input.search {
  border: none;
  padding: 16px;
  text-align: center;
  width: 322px;
}

.navbar input.search::placeholder {
  font-weight: 500;
  color: var(--bs-gray-one);
}

.navbar i.icon-search {
  font-size: 20px;
  color: var(--bs-gray-one);
  left: 5%;
}

.btn-login {
  border: none;
  color: var(--bs-button-secondary);
  background-color: rgba(90, 79, 207, 0.1);
  padding: 16px 28px;
  border-radius: 12px;
  margin-left: 20px;
}

.btn-login:hover {
  background-color: var(--bs-button-secondary);
  color: white;
  transition: all 0.3s ease-in-out;
}
